[
  {
    "fallback": "PR merged",
    "color": "warning",
    "title": "PR merged",
    "text": "{{pullRequest.title}}",
    "mrkdwn": true,
    "fields": [
      {
        "title": "PR",
        "value": "<{{{pullRequest.html_url}}}|{{{pullRequest.head.repo.full_name}}}/#{{pullRequest.number}}>",
        "short": true
      },
      {
        "title": "Merged by",
        "value": "{{closedBy}}",
        "short": true
      }
    ]
  }
];
