[
    {
      "fallback": "PR confirmed for review",
      "color": "good",
      "title": "Confirmation",
      "text": "{{{prContext}}}",
      "mrkdwn": true,
      "fields": [
        {
          "title": "Project",
          "value": "{{{project}}}",
          "short": true
        },
        {
          "title": "Review confirmed by",
          "value": "<@{{userName}}>",
          "short": true
        }
      ]
    }
  ]