[
    {
      "fallback": "PR rejected for review",
      "color": "error",
      "title": "Rejection",
      "text": "{{{prContext}}}",
      "mrkdwn": true,
      "fields": [
        {
          "title": "Project",
          "value": "{{{project}}}",
          "short": true
        },
        {
          "title": "Review rejected by:",
          "value": "<@{{userName}}>",
          "short": true
        }
      ]
    }
  ]